@import "tailwindcss";

@font-face {
  font-family: 'chivo';
  src: url('/fonts/ChivoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'chivo-italic';
  src: url('/fonts/ChivoMono-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'megren';
  src: url('/fonts/megren-demo-regular.ttf');
}

@font-face {
  font-family: 'halout';
  src: url('/fonts/Halenoir-BlackOutline.otf');
}

@font-face {
  font-family: 'halenoir';
  src: url('/fonts/Halenoir-Black.otf');
}

:root {
  --font-primary: 'chivo', sans-serif;
}

html {
  font-family: var(--font-primary);
}

@theme {
  --color-coalblack: #333333;
  --color-offwhite: #F7F7F5;
  --color-beiges: #F7EFE5;
  --color-darkblue: #2C537C;
  --color-lightblue: #517293;
  --color-grei: #A0A0A0;
  --color-redd: #9E5046;
  
  --font-chivo: "Chivo", "sans-serif";
  --font.megren: "Megren", "sans-serif";
  --font.halenoir: "Halenoir", "sans-serif";
  --font.halout: "Halout", "sans-serif";
}